h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  font-size: 40px;
  color: rgba(214, 15, 15, 0.849);
}

body {
  background-color: rgb(245, 218, 218);
}

.indice li {
  display: inline-block;
  text-align: center;
  margin-left: 20%;
  margin-bottom: 3%;
}

h2 {
    text-align: center;
}
