h1 {
    size: 65px;
    color: orange;
    font-family: sans-serif;
}

body {
    font-size: 16px;

}
.cor-de-fundo{
    background-color: blue;
}
#yellow{
    background-color: yellow;
}
#vermelho{
    background-color: red;
}
#marrom{
    background-color: brown;
}
p {
    font-weight: 600;
    size: 3em;
    font-style: italic;
    line-height: 40px;
    text-align: justify;
    text-decoration: wavy;
}